rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /trays/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
    match /receipts/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
